- var path_css   = "css/";
- var path_js   = "js/";
- var title   = "Holywar";

- var lang     = "ru-RU";
//- для путей инклудов в файле My work.pug
- var path_work = "template/section/work/";

//- этот файл конфигурации создан для теста сайта в директории test
- var namesite   = "Holywar";

- var  jquery   = "js/jquery.min.js";
- var css     = "css/style.css";

//пути png & svg
//- var human = "img/svg/avatar.svg";
// - var not_foto = "img/not_foto.png"
// - var add_file = "img/add_file.png"
// // фон и colors страницы
- var fon = "#E0E0E0";
//- Библиотека jQuery

//фон линейного прогресс бара
//- // - var line_bar = "blue";
//- // <!-- Последний скомпилированный и минимизированный Bootstrap JavaScript -->
//- // - var js_bundle_btsp = "js/bootstrap.min.js";
//- - var js_bootstrap   = "js/bootstrap.bundle.min.js";
