extends templates/main

block content
	//1
	include section_site/_header
	//2
	include section_site/_about_project
	//3
	include section_site/_features
	//4
	include section_site/_strategic
	//5
	include section_site/_servicesProvided
	//6
	include section_site/_our_team

prepend scripts
	script(src = path_dev_js + 'script.js')










