//section about
.container-fluid.w-100.bg-dark
	.container.bg-white
		.row.pt-3
			.col-10.col-lg-5.my-auto.text-center.note-reklama
				h3.responsive.ml-4.text-muted.mb-n3 About
				h1.responsive.ml-4.mt-n1 
					strong.yellow-text C
					| ibersport
			.col-12.col-lg-5
				p.lead.text-left.txt-reklama1
					|	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					|	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					|	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					|	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					|	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					|	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				p.lead.text-muted.txt-reklama2
					|	Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus consectetur dolorem vero explicabo ratione cumque aperiam quos, possimus quam debitis maiores obcaecati dolorum molestias reiciendis, laborum omnis blanditiis, libero, fugit.
		//close row
		.row.mt-5.justify-content-around
			.card.col-10.col-lg-3.testimonial-card
				// Background color
				.card-up.indigo.lighten-1
				// Avatar
				.avatar.cicle.mx-auto
					img.rounded-circle(src='../img/png/game-pult.png' alt='avatar')
				// Content
				.card-body
					// Name
					h4.card-title.text-center App Development
					hr
					// Quotation
					p.text-center
						i.fas.fa-quote-left
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
			// closeCard
			.card.col-10.col-lg-3.testimonial-card
				// Background color
				.card-up.indigo.lighten-1
				// Avatar
				.avatar.cicle.mx-auto
					img.rounded-circle(src='../img/png/game-pult.png' alt='avatar')
				// Content
				.card-body
					// Name
					h4.card-title.text-center Game Design
					hr
					// Quotation
					p.text-center
						i.fas.fa-quote-left
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
			// closeCard
			.card.col-10.col-lg-3.testimonial-card
				// Background color
				.card-up.indigo.lighten-1
				// Avatar
				.avatar.cicle.mx-auto
					img.rounded-circle(src='../img/png/game-pult.png' alt='avatar')
				// Content
				.card-body
					// Name
					h4.card-title.text-center Content Creation
					hr
					// Quotation
					p.text-center
						i.fas.fa-quote-left
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
			// closeCard
		//close row
	//close container
//close container-fluid	

