//section blogs
.container-fluid.bg-dark
	.container.bg-white
		.row.pt-4.pb-5
			.col-12.col-lg-3.flex-column
				h1.responsive.text-black.ml-5
					strong.yellow-text B
					| logs					
					hr.position-absolute.mt-n1.bg-dark(style = { left: '115px', height: "1px", width: '100px'})
				ul.nav.flex-column.ml-5
					li.nav-item.ml-4
						a.nav-link.text-decoration-none.text-dark.active(href='#') Latest Posts
					li.nav-item.ml-4
						a.nav-link.text-decoration-none.text-dark(href='#') App Design
					li.nav-item.ml-4
						a.nav-link.text-decoration-none.text-dark(href='#') App Development
					li.nav-item.ml-4
						a.nav-link.text-decoration-none.text-dark(href='#') Design Solution
					li.nav-item.ml-4
						a.nav-link.text-decoration-none.text-dark(href='#') Quality Assurance
					li.nav-item.ml-4
						a.nav-link.text-decoration-none.text-dark(href='#') Developmen Mode
					li.nav-item.ml-4
						a.nav-link.text-decoration-none.text-dark(href='#') What`s Out There
			.col-12.col-lg-3
				// Card Wider
				.card.card-cascade.wider
					// Card image
					.view.view-cascade.overlay
						img.card-img-top(src='../img/png/Layer\ 38.png' alt='Card image cap')
						a(href='#!')
							.mask.rgba-white-slight
				// Card content
				.card-body.card-body-cascade.text-left.pl-0
					// Title
					h4.yellow-text.card-title
						strong July 4th 2016
					// Subtitle
					h5.dark-text.pb-2
						strong Lorem ipsum dolor sit amet consectetur,
					p.card-text.font-italic
					| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
					| laudantium, totam rem aperiam.

					// Card Wider

			.col-12.col-lg-3
				// Card Wider
				.card.card-cascade.wider
					// Card image
					.view.view-cascade.overlay
						img.card-img-top(src='../img/png/Layer\ 39.png' alt='Card image cap')
						a(href='#!')
							.mask.rgba-white-slight
				// Card content
				.card-body.card-body-cascade.text-left.pl-0
					// Title
					h4.yellow-text.card-title
						strong June 20th 2016
					// Subtitle
					h5.dark-text.pb-2
						strong Lorem ipsum dolor sit amet consectetur,
					// Text
					p.card-text
					| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
					| laudantium, totam rem aperiam.

					// Card Wider	

			.col-12.col-lg-3
				// Card Wider
				.card.card-cascade.wider
					// Card image
					.view.view-cascade.overlay
						img.card-img-top(src='../img/png/Layer\ 40.png' alt='Card image cap')
						a(href='#!')
							.mask.rgba-white-slight
				// Card content
				.card-body.card-body-cascade.text-left.pl-0
					// Title
					h4.yellow-text.card-title
						strong May 6th 2016
					// Subtitle
					h5.dark-text.pb-2
						strong Lorem ipsum dolor sit amet consectetur,
					// Text
					p.card-text.small.font-italic
					| Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
					| laudantium, totam rem aperiam.

					// Card Wider
		//close row
	//close container
//close container-fluid