//section features
.conteiner-fluid.bg-dark
	.container.bg-white.pt-5
		.row.py-5.pl-5.flex-column
			h2.feature.responsive.position-relative
				strong.mb-2.yellow-text F
				| eatured Projects
				hr.position-absolute.mt-n1
		//close row
		.row.pl-5.py-5
			ul.nav.ml-n3
				li.nav-item.ml-0
					a.a-link.position-relative.nav-link.text-uppercase.text-decoration-none.text-dark.font-weight-bold(href="#") all works
						hr.py-0.mt-0.line.mx-auto.bg-warning.position-absolute
				li.nav-item.ml-0
					a.a-link.position-relative.nav-link.text-uppercase.text-decoration-none.text-dark.font-weight-bold(href="#") games
						hr.py-0.mt-0.line.mx-auto.bg-warning.position-absolute
				li.nav-item.ml-0
					a.a-link.position-relative.nav-link.text-uppercase.text-decoration-none.text-dark.font-weight-bold(href="#") applications
						hr.py-0.mt-0.line.mx-auto.bg-warning.position-absolute
				li.nav-item.ml-0
					a.a-link.position-relative.nav-link.text-uppercase.text-decoration-none.text-dark.font-weight-bold(href="#") content
						hr.py-0.mt-0.line.mx-auto.bg-warning.position-absolute
				li.nav-item.ml-0
					a.a-link.position-relative.nav-link.text-uppercase.text-decoration-none.text-dark.font-weight-bold(href="#") developmen
						hr.py-0.mt-0.line.mx-auto.bg-warning.position-absolute

		//close row
		.row
			.col-12.col-md-6.col-lg-3.px-0
				img.futur(src="img/png/Layer 16.png")
			.col-12.col-md-6.col-lg-3.px-0
				img.futur(src="img/png/Layer 11.png")
			.col-12.col-md-6.col-lg-3.px-0
				img.futur(src="img/png/Layer 13.png")
			.col-12.col-md-6.col-lg-3.px-0
				img.futur(src="img/png/Layer 14.png")
		//close row
		.row
			.col-12.col-md-6.col-lg-3.px-0
				img.futur(src="img/png/Layer 15.png")
			.col-12.col-md-6.col-lg-3.px-0
				img.futur(src="img/png/Layer 16.png")
			.col-12.col-md-6.col-lg-3.px-0
				img.futur(src="img/png/Layer 17.png")
			.col-12.col-md-6.col-lg-3.px-0
				img.futur(src="img/png/Layer 14.png")
		//close row
		.row
		//close row

	//close container
//close conteiner-fluid