//section header
.container-fluid.header-fon.position-relative.bg-dark
	.container.col-12.h-100

		.row.flex-column.pt-3
			.container.col-11
				h1.responsive.text-white.ml-5
					strong.yellow-text C
					| iber
					strong.yellow-text S
					| port

				p.lead.text-left.text-white.ml-5
					strong.yellow-text C
					| iberspot Новости Интервью Обзоры 
		//close row

		.row.justify-content-center
			.container.col-11.header-war.pt-5

				h1.responsive.text-white.ml-5
					strong.yellow-text We 
					| create
				h1.responsive.text-white.ml-5 Awesome Games
				.row.flex-column.mt-5.ml-4.pl-3
					ul.nav.ml-n1
						li.nav-item
							a.nav-link(href="#") About
						li.nav-item
							a.nav-link(href="#") Development
						li.nav-item
							a.nav-link(href="#") Projects
						li.nav-item
							a.nav-link(href="#") Blog
				//close row
			//close header-war
		//close row
	//container
//close container-fluid
