//section our_team
.container-fluid.bg-dark
	.container.bg-white
		.row.py-5
			.col-12.col-md-3.px-0
				h1.responsive.text-black.ml-5
					strong.yellow-text O
					| ur
					strong T
					| eam
					hr.position-absolute.mt-n1.bg-dark(style = { left: '115px', height: "1px", width: '100px'})

			.col-12.col-md-9.pr-5
				p.lead.small.font-italic(style = {'max-width':'680px'})
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam neque assumenda mollitia nihil molestiae quidem accusamus debitis hic! Excepturi, laudantium consequuntur ducimus? Facilis voluptate, rerum at dicta placeat sed hic.
				p.lead.small.text-muted(style = {'max-width':'680px'})
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iste alias unde impedit minima nulla quis. Impedit iste aspernatur delectus! Perferendis velit non, illum commodi. Quae, laudantium expedita eos nostrum.
				div.d-flex
					.card.no-border.font-italic(style='width: 15rem;')
						img.card-img-top.rounded-0(src='../img/png/Layer\ 28.png' alt='Card image cap')
						.card-body.text-center
							h5.responsive.font-weight-bold John Doe
							p.card-text
							| CoFouder / CEO
					.card.ml-3.no-border.font-italic(style='width: 15rem;')
						img.card-img-top.rounded-0(src='../img/png/Layer\ 29.png' alt='Card image cap')
						.card-body.text-center
							h5.responsive.font-weight-bold John Doe
							p.card-text
							| process Manager
					.card.mx-3.no-border.font-italic(style='width: 15rem;')
						img.card-img-top.rounded-0(src='../img/png/Layer\ 30.png' alt='Card image cap')
						.card-body.text-center
							h5.responsive.font-weight-bold John Doe
							p.card-text
							| Sales President
					.card.no-border.font-italic(style='width: 15rem;')
						img.card-img-top.rounded-0(src='../img/png/Layer\ 31.png' alt='Card image cap')
						.card-body.text-center
							h5.responsive.font-weight-bold John Doe
							p.card-text
							| Developmen
		//close row
	//close container
//close container-fluid
