// section services provided
.container-fluid.bg-dark
	.container
		.row.provided-fon.py-4.px-5
			h2.text-white.feature.responsive.position-relative
				strong.mb-2.yellow-text S
				| ervices Provided
				hr.position-absolute.mt-n1
			.row
				.col-4
				.col-4
					.card.no-border.card-background-none.text-white.mb-3(style='max-width: 32rem;')
						.card-body
							h5.card-title.font-weight-bold App Development
							p.card-text.small
								| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

				.col-4
					.card.no-border.card-background-none.text-white.mb-3(style='max-width: 32rem;')
						.card-body
							h5.card-title.font-weight-bold Game Development
							p.card-text.small
								| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

			//close row
			.row
				.col-4
				.col-4
					.card.no-border.card-background-none.text-white.mb-3(style='max-width: 32rem;')
						.card-body
							h5.card-title.font-weight-bold App Design
							p.card-text.small
								| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

				.col-4
					.card.no-border.card-background-none.text-white.mb-3(style='max-width: 32rem;')
						.card-body
							h5.card-title.font-weight-bold Game Design
							p.card-text.small
								| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

			//close row
			
		//close row
	//close container
//close container-fluid
