//section strategic
.conteiner-fluid.bg-dark
	.container.bg-white.pt-4
		.row.py-3.pl-5.flex-column
			h2.feature.responsive.position-relative
				strong.mb-2.yellow-text S
				| trategic Process
				hr.position-absolute.mt-n1
		//close row
		.row.px-5
			p.p-font Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corporis placeat consequatur autem! Aliquam inventore accusantium, ut amet eius, rem ab culpa aspernatur, sint quidem nihil beatae? Consequatur totam, sit!
		//close row
		.row.px-5.mb-4
			p.lead.text-left Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, id expedita corporis harum vero assumenda sint obcaecati recusandae nulla et pariatur minus aspernatur, laboriosam tempora dolores, fugiat laborum deleniti aliquam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ducimus, consequuntur in laborum voluptate dicta optio, quisquam repellat vitae saepe dolorum vel quo adipisci dolore facere eum explicabo! Vel, consectetur!

		.row.justify-content-center
			.card.no-border(style='max-width: 768px;')
				.row.no-gutters
					.col-md-6
						img.card-img(src='img/png/Layer 22.png' alt='...')
					.col-md-6
						.card-body
							h5.card-title.titly-card Our Process
							p.p-font.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							p.card-text
								small.text-muted | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
		//close row									
		.row.justify-content-center
			.card.no-border(style='max-width: 768px;')
				.row.no-gutters

					.col-md-6
						.card-body
							h5.card-title.titly-card Method
							p.p-font.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							p.card-text
								small.text-muted | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
					.col-md-6
						img.card-img(src='img/png/Layer 23.png' alt='...')
		
		//close row
		.row.justify-content-center.pb-5
			.card.no-border(style='max-width: 768px;')
				.row.no-gutters
					.col-md-6
						img.card-img(src='img/png/Layer 24.png' alt='...')
					.col-md-6
						.card-body
							h5.card-title.titly-card Outcome
							p.p-font.card-text
								| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
							p.card-text
								small.text-muted | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
		//close row
	//close conteiner 
//close container-fluid		