//section testimonials
.container-fluid.bg-dark
	.container
		.row.special-color.py-5.pl-4
			.col-12.col-lg-7
				h1.responsive.text-white.ml-2.mb-5
					strong.yellow-text T
					| estimonials
					hr.position-absolute.mt-n1.bg-white(style = { left: '150px', height: "1px", width: '125px'})
				p.lead.small.font-italic.text-white.ml-5(style = {'max-width':'500px'})
					| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, aut. Quam praesentium dicta accusantium quae voluptas sunt, quod repellat fugit. Officia nisi, amet nostrum numquam, dolorum porro asperiores aperiam delectus
				p.lead.small.text-white.ml-5(style = {'max-width':'500px'})
					| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus illo nulla recusandae odit ipsum impedit earum, dolorum maiores omnis cupiditate repellat vel architecto suscipit eius rem modi, aperiam et unde.
			.col-12.col-lg-5.d-flex.justify-content-center
				.d-flex.flex-column.h-100.w-100.pt-5.pl-4.text-white
					div.w-50.text-center
						.d-flex.justify-content-center.align-content-center.mt-4.mx-auto(style = { width:"130px", height:"130px", 'border-radius': "50% 50%", border: "2px solid #ffbb33"})
							img( src='../img/png/Layer\ 36.png' alt="" )
						h5.responsive.mb-0.mt-2 John Doe
						p.lead.font-italic.mt-n1 CoFounder/CEO

		//close row
	//close container
//close container-fluid
